<div class="container-fluid home w-100 vh-100 d-flex flex-column justify-content-center text-light text-center">
<h1>ABOUT COMPONENT</h1>
<div class="space">
  <i class="fa-solid fa-star text-light "></i>
</div>
<div class=" row p-2 m-5">
  <div class="text-start col-lg-6">
    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>
    <div class="text-start col-lg-6">
      <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>

</div>
</div>
