<div class="container-fluid contact w-100 vh-100 d-flex flex-column justify-content-center">
  <h1 class="text-center mt-3 space">CONATCT SECTION</h1>
  <div class="w-50 m-auto h-75  ">
    <label for=""></label>
    <input type="text" class="form-control mt-4" placeholder="userName">
    <input type="text" class="form-control mt-4" placeholder="userAge">
    <input type="text" class="form-control mt-4" placeholder="userEmail">
    <input type="text" class="form-control mt-4" placeholder="userPassword">
    <button class="btn text-light mt-3">send Message</button>
  </div>
  </div>
