<div class="container-fluid pt-5 pb-5 home w-100  d-flex flex-column justify-content-center">
<div >
  <h1 class="text-center space">PORTFOLIO COMPONENT</h1>
</div>
<!-- <div class="container pomImg position-relative  w-100 d-none">
  <div class="container w-50 h-50">
    <img src="assets/imgs/poert1.png" class="w-100 img-fluid" alt="">

  </div>
</div> -->
  <div class="container d-block">
  <div class="row gy-5 gy-3">
    <div class="col-md-4 img-item">
      <img src="assets/imgs/poert1.png" class="w-100 img-fluid" alt="">
      <div class="layaway"></div>
      <div class="layaway2  text-center ">
        <i class="fa-solid fa-plus "></i>
      </div>
    </div>
    <div class="col-md-4 img-item">
      <img src="assets/imgs/port2.png" class="w-100 img-fluid" alt="">
      <div class="layaway"></div>
      <div class="layaway2  text-center ">
        <i class="fa-solid fa-plus "></i>
      </div>
    </div>
    <div class="col-md-4 img-item">
      <img src="assets/imgs/port3.png" class="w-100 img-fluid" alt="">
      <div class="layaway"></div>
      <div class="layaway2  text-center ">
        <i class="fa-solid fa-plus "></i>
      </div>
    </div>
    <div class="col-md-4 img-item">
      <img src="assets/imgs/poert1.png" class="w-100 img-fluid" alt="">
      <div class="layaway"></div>
      <div class="layaway2  text-center ">
        <i class="fa-solid fa-plus "></i>
      </div>
    </div>
    <div class="col-md-4 img-item">
      <img src="assets/imgs/port2.png" class="w-100 img-fluid" alt="">
      <div class="layaway"></div>
      <div class="layaway2  text-center ">
        <i class="fa-solid fa-plus "></i>
      </div>
    </div>
     <div class="col-md-4 img-item">
      <img src="assets/imgs/port3.png" class="w-100 img-fluid" alt="">
      <div class="layaway"></div>
      <div class="layaway2  text-center ">
        <i class="fa-solid fa-plus "></i>
      </div>
    </div>
  </div>
</div>
</div>
